@model ViewModel.PaymentDetailsViewModel
@using Code;
@{
    ViewBag.Title = "Payemnt Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    function GetStudentDetails() {
        var uniqueid = $("#UniqueKey").val();
        if (uniqueid == '') {
            alert("Please enter enrollment number.");
            return false;
        }
        else {
            $.post('@Url.Action("GetStudentByUniqueId", "Student")', { UniqueId: uniqueid }, function (data) {
                if (data.Name != "") {
                    $("#lblName").val(data.Name);
                    $("#ContactNumber").val(data.Contact1);
                    $("#EmailID").val(data.EmailAddress);
                    $("#Address").val(data.Address);
                    $("#GuardianName").val(data.GuardianName);
                }
                else {
                    alert("No record found");
                }

            });
        }
    }

</script>
<div class="container">

    <!-- registration-form -->
    <div class="registration-form">
        @using (Html.BeginForm("EntrollStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.StudentId)
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    @ViewBag.Success
                }
                else
                {
                    @ViewBag.Error
                }
            </div>
            <div class="row">
                <label for="Password">Enrollment Number :</label>
                <input id="UniqueKey" type="text" class="input" />
                <a href="#" id="btnGet" onclick="javascript: GetStudentDetails();">Get Details</a>
            </div>
            <div class="row">
                <fieldset>
                    <legend>Student Details</legend>
                    <table id="showstudent">
                        <tr>
                            <td>Name</td>
                            <td>
                                <input id="lblName" readonly="readonly" type="text" class="input" />
                            </td>
                            <td>Contact</td>
                            <td>
                                <input id="ContactNumber" readonly="readonly" type="text" class="input" />
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <input id="EmailID" readonly="readonly" type="text" class="input" />
                            </td>
                            <td>Address</td>
                            <td>
                                <input id="Address" readonly="readonly" type="text" class="input" />
                            </td>
                            <td>Guardian</td>
                            <td>
                                <input id="GuardianName" readonly="readonly" type="text" class="input" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div style="padding:1%;height:1px;">

            </div>
            <div class="row">
                <fieldset>
                    <legend>Payment Details</legend>
                    <table>
                        <tr>
                            <td>Bank Name</td>
                            <td>
                                <input id="BankName" type="text" class="input" />
                            </td>
                            <td>Payment Mode</td>
                            <td>
                                <select>
                                    <option value="">--Select Mode--</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="Credit card">Credit Card</option>
                                </select>
                            </td>
                            <td>Amount Paid</td>
                            <td>
                                <input id="AmountPaid" type="number" class="input" />
                            </td>
                        </tr>
                        <tr>
                            <td>Cheque/Credit Card No</td>
                            <td>
                                <input id="PayDetails" type="text" class="input" />
                            </td>
                            <td>Pay Date</td>
                            <td>
                                <input id="PayDate" type="date" class="input" />
                            </td>
                            <td>Balance</td>
                            <td>
                                <input id="AmountPaid" type="number" class="input" />
                            </td>
                        </tr>
                    </table>
                </fieldset>

            </div>
            <div class="rowbutton">
                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn" />
            </div>
        }
    </div>
</div>
