@model List<Models.ClassTimingPatterns>
@{
    Layout = null;
}

<table>
    <tr>
        <td>Start Timming</td>
        <td>End Timming</td>
        <td>Remove</td>
    </tr>
    @foreach (var v in Model)
    {
        <tr>
            <td>@Html.TextBoxFor(x => v.StartTime, new { @readonly = "readonly" })</td>
            <td>@Html.TextBoxFor(x => v.EndTime, new { @readonly = "readonly" })</td>
            <td><a href="javascript:void(0)" onclick="Remove(@v.PatternId)">Remove</a> </td>
        </tr>
    }
</table>

