@model List<Models.ClassTimingPatterns>
@using Code;
@{
    Layout = null;
}

<table>
    <tr>
        <td>Day</td>
        <td>Start</td>
        <td>End </td>        
    </tr>
    @foreach (var v in Model)
    {
        <tr>
            <td><span>@(((WeekDays)Enum.Parse(typeof(WeekDays), v.WeekDayId.ToString())).Desciption()) </span> </td>
            <td>@v.StartTime</td>
            <td>@v.EndTime</td>            
        </tr>
    }
</table>

