@{
    ViewBag.Title = "Dash Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- start update-box -->
    <div class="update-box" style="padding-left:10%;">
        @*<div class="imgb"><img src="~/Content/images/god_pic.jpg" alt="Swar vandana" /></div>*@
        <!-- column -->
        <div class="column">
            <h3>Fee To collect</h3>
            <ul>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Atul Jindal (5000 /-  Date : 10 Jan 2015 )</a></li>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Atul Jindal (5000 /-  Date : 10 Jan 2015 )</a></li>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Atul Jindal (5000 /-  Date : 10 Jan 2015 )</a></li>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Atul Jindal (5000 /-  Date : 10 Jan 2015 )</a></li>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Atul Jindal (5000 /-  Date : 10 Jan 2015 )</a></li>                
            </ul>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="column">
            <h3>Upcoming  Renewal</h3>
            <ul>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Abhishek (Enrolled in : dance,singing) Date : 15 Jan 2015 </a></li>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Abhishek (Enrolled in : dance,singing) Date : 15 Jan 2015 </a></li>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Abhishek (Enrolled in : dance,singing) Date : 15 Jan 2015 </a></li>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Abhishek (Enrolled in : dance,singing) Date : 15 Jan 2015 </a></li>
                <li><a href="#" title="Lorem Ipsum is simply dummy text">Abhishek (Enrolled in : dance,singing) Date : 15 Jan 2015 </a></li>
            </ul>
        </div>
        <!-- column -->
    </div>
    <!-- end update-box -->
</div>
