@model IEnumerable<Models.Disciplines>
@using Code;
@{
    ViewBag.Title = "Discipline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start container -->
<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        <div class="table-form">
                <form action="#">
                    
                    <input type="text" placeholder="Search" name="search" value="" class="input" />
                    <input  type="submit" value="Search" class="submit-btn" />
                </form>
            </div>
        <!-- end table-form -->
        <!-- start table -->
        <div class="table">
            <!-- start row -->
            <div class="row-first">
                <div class="td">Discipline</div>
                <div class="td">Description</div>
                <div class="td">Action</div>
            </div>
            <!-- end row -->
            @foreach (var v in Model)
            {
                <!-- start row -->
                <div class="row">
                    <div class="td">@v.Discipline</div>
                    <div class="td">@v.Description</div>
                    <div class="td edit"><a href="@Url.Action("AddDiscipline", "Main", new { DisciplineId = v.DisciplineId })" title="Edit">Edit</a></div>
                </div>
                <!-- end row -->
            }
            @if(Model.Count()==0)
            {
                <div class="row">
                    <div class="td">No record Found</div>
                </div>
            }
            <!-- start row -->
            @*<div class="row-last">
                <div class="td td2">1 - 8 of 8 items</div>
                <div class="td td3">
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>*@
            <!-- end row -->
        </div>
        <!-- end table -->
    </div>
    <!-- end table-info -->
</div>
<!-- end container -->
