@model IEnumerable<Models.Disciplines>
@using Code;
@{
    ViewBag.Title = "Discipline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function AddNew() {
        window.location.href = '@Url.Action("AddDiscipline", "Main")';
    }
</script>
<!-- start container -->
<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        <div class="table-form">
            <form action="#">

                <input type="text" placeholder="Search" name="search" value="" class="input" />
                <input type="submit" value="Search" class="submit-btn" />
                <label for="From">&nbsp;</label>
                <input name="submit" type="button" onclick="AddNew()" value="Add New" class="submit-btn" />
            </form>
        </div>
        <!-- end table-form -->
        <!-- start table -->
        <div style="float: left; width: 100%">
            <table cellpadding="0" cellspacing="0" class="table">
                <!-- start row -->
                <tr bgcolor="#ccc">
                    <td class="td">Discipline</td>
                    <td class="td">Description</td>
                    <td class="td">Action</td>
                </tr>
                <!-- end row -->
                @foreach (var v in Model)
                {
                    <!-- start row -->
                    <tr>
                        <td class="td">@v.Discipline</td>
                        <td class="td">@v.Description</td>
                        <td class="td edit"><a href="@Url.Action("AddDiscipline", "Main", new { DisciplineId = v.DisciplineId })" title="Edit">Edit</a></td>
                    </tr>
                    <!-- end row -->
                }
                @if (Model.Count() == 0)
                {
                    <tr class="row">
                        <td class="td">No record Found</td>
                    </tr>
                }
                <!-- start row -->
                @*<div class="row-last">
                <div class="td td2">1 - 8 of 8 items</div>
                <div class="td td3">
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>*@
            </table>
            <!-- end row -->
</div>
<!-- end table -->
</div>
    <!-- end table-info -->
</div>
<!-- end container -->
