@model ViewModel.ReportViewModel
@using Code;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <table id="showattendence" style="border: 1px solid; width: 60%;">
        <tr style="background-color:gray;">
            <td>Date</td>
            <td>Batche</td>
            <td>Status</td>
        </tr>

        @foreach (System.Data.DataRow v in Model.ReportDataset.Tables[0].Rows)
        {
            <tr>
                <td>
                    @v["DateOfAttendence"]
                </td>
                <td>
                    @v["Timming"]
                </td>
                @{
            var atendence = "";
            if (((AttendenceStatus)Enum.Parse(typeof(AttendenceStatus), @v["AttendenceStatus"].ToString())).Desciption() == "Present")
            {
                atendence = "Present";
            }
            else if (((AttendenceStatus)Enum.Parse(typeof(AttendenceStatus), @v["AttendenceStatus"].ToString())).Desciption() == "Absent")
            {
                atendence = "Absent";
            }
            else
            {
                atendence = "Leave";
            }
                }
                <td>
                    @atendence
                </td>
            </tr>
        }
        @if (Model.ReportDataset.Tables[0].Rows.Count == 0)
        {
            <tr>
                <td colspan="2">No Record Found</td>
            </tr>
        }


    </table>

</body>
</html>
