@{
    Layout = null;
}

<form action="#">
    <div class="form">
        <div class="row">
            @Html.TextBox("uName", "", new { @class = "input", onfocus = "if(this.value == 'Username') { this.value = ''; }", onblur = "if(this.value == '') { this.value = 'Username'; }" })
        </div>
        @*<div class="row lock">
            @Html.Password("Password","", new { @class = "input", onfocus = "if(this.value == 'Password') { this.value = ''; }", onblur = "if(this.value == '') { this.value = 'Password'; }" })            
        </div>*@
    </div>
    <input type="submit" id="btnForget" onclick="GetPassword()" value="Get Password" class="button" />
</form>
