@{
    Layout = null;
}

<form action="#">
    <div class="form">
        <div class="row">
            @Html.TextBox("uName", "", new { @class = "input", @placeholder = "Enter UserName" })
        </div>
    </div>
    <input type="submit" id="btnForget" onclick="GetPassword()" value="Get Password" class="button" />
</form>
