@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestMessage</title>
</head>
<body>
    <div>
        
        <input type="submit" value="Test Single SMS Message" />

        <input type="submit" value="Test Bulk SMS Message" />
    </div>
</body>
</html>
